<h1>Websites</h1>
<%= link_to "Add a new Website", new_website_path %>

<% @websites.each do |website| %>
	<div class="row">

		<div class="col-md-2">
			<%= image_tag find_logo(website.url), class: "website" %>
		</div>

		<div class="col-md-10">
			<div class="row">
				<h2><%= link_to website.url, website_path(website) %></h2>
			</div>

			<div class="row">
				Rating: Hello			
			</div>

			<div class="row">
				<%= website.description %>
			</div>
		
		</div>
		
	</div>
<% end %>